.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cameraChoose {
  color: inherit;
}

.cameraChoose h2 {
  font-size: 5rem;
  margin: 1rem;
}

.cameraChoose a {
  font-size: 1.4rem;
}

select {
  width: 100%;
  background: #21D461;
  border: 0;
  color: var(--text);
  outline: 0;
  text-shadow: 1px 1px black;
  font-size: inherit;
  padding: 1rem 2rem;
}

select option {
  outline: 0;
  text-shadow: 1px 1px black;
}

.creditsLink {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 1rem;
  left: 0;
}

.version {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 0.8rem;
  margin: 0;
}
