/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
/*
@import "~reset.css/reset.css";
*/

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.ttf);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --text: rgb(241, 241, 241);
  --text-background: #436375;
  --text-background-solid: white
}

body {
  margin: 0;
  position: relative;
  color: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  user-select: none;
  background-color: var(--text-background);
  font-family: Roboto, sans-serif;
  font-size: 24px;
}

a {
  color: inherit;
}

#root {
  height: inherit;
  display: flex;
  flex-direction: column;
}
